<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="text" class="input-field" name="username" placeholder="Username" required>
        <input type="password" class="input-field" name="password" placeholder="Password" required>
        <select class="input-field" name="role" required>
          <option value="" disabled selected>Select your role</option>
          <option value="admin">Administrator</option>
          <option value="doctor">Doctor</option>
          <option value="nurse">Nurse</option>
          <option value="receptionist">Receptionist</option>
          <option value="patient">Patient</option>
          <option value="lab_technician">Lab Technician</option>
          <option value="pharmacist">Pharmacist</option>
        </select>
        <button type="submit" class="form-button">Login</button>
    </form>
    <button onclick="window.location.href='/emergency'" class="form-button">Emergency Registration</button>
</div>

</body>
</html>
